.header_wrapper,
.span3,
.footer_wrapper,
.footer_social_bar,
img,
.top_nav,
.header_page,
.list-menu-contexto,
.content,
hr{
    display: none;
}  
#menu-contexto{
    display: none !important;
}
.scrollup{
    background-color: red !important;
    border-radius: 30px !important;
}
section{
    margin: auto;
}
.header_1_body #content,
.top_wrapper{
    padding-top: 0px !important;
}
.span9{
    float: right !important;
}
